body
{background-color:#ACE1AF;
}
.home{
    text-align:center;
}
#stepsForVegtableSalad{
    list-style-position:inside;
    color:#483D8B;
}
#titleName{
    color:indigo;
}
#benefits{
    color:blue;
}
#steps{
    color:blue;
}
#benefitsParagraph{
    color:#483D8B;
}
#footerText{
    color:#483D8B;
    text-align:center;
}