
.page1{
    text-align:center;
    background-color:peachpuff;
    background-size:auto;
}
table,th,td,tr{
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;width:50%;
    border-collapse:collapse;
}    
#courseList{
    list-style-position:inside;
}
.page2{
    text-align:center;
    background-color:peachpuff;
    background-size:auto;
}
.page3{
    text-align:center;
    background-color:peachpuff;
    background-size:auto;
}
#login-form{
    border:solid black 1px;
}
#image2{
  float: left;
  width: 25%;
  padding: 15px
  
 
}
.page4{
 text-align:center;
 background-color:peachpuff;
 background-size:100px,100px;
}