.home{
    background-image:url("https://cdn.pixabay.com/photo/2018/01/12/14/24/night-3078326_1280.jpg");
    background-size:300%,300%;
    background-repeat:no-repeat;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
}
.text{
    text-align:center;
    color:white;
    position:static;
    font-family:garamond;
}
#textBox1{
    height:50px;
    background-color:#7DF9FF;
}
#textBox2{
    height:50px;
    background-color:#7DF9FF;
}
#textBox3{
    height:50px;
    background-color:#7DF9FF;
}