.page1{
    text-align:center;
    background-color:peachpuff;
    background-size:auto;
}
.page2{
    text-align:center;
    background-color:peachpuff;
    background-size:auto;
}
#login-form{
    border:1px solid black;
}
.page3{
    text-align:center;
    background-color:peachpuff;
    background-size:auto;
}
table,th,td,tr{
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;width:50%;
    border-collapse:collapse;
}
#list-1{
    list-style-position:inside;
}
.page4{
    text-align:center;
    background-color:peachpuff;
    background-size:auto;
    position:absolute;
}
